body{
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
    font: 12px "Times New Roman", Times, Serif;
    margin: 25px;
    padding: 25px;
    align-content: center;
}

div{
    padding: 50px;
}

h1{
    align-content: center;
    color: cadetblue;
    font-weight: bolder;
    border: 2px solid gainsboro;
}

#submitBtn{
    color: cadetblue;
    border: 2px solid gainsboro;
}
#submitBtn:hover {
    color: rgb(3, 49, 51);
    font-weight: bolder;
    border: 2px solid gainsboro;
    transition-duration: 1s;
}

.label{
    border: 2px solid gainsboro;

}

input{
    border-radius: 6px;
}